@import '_variables';

:root {
  --primary-color: #{$pri-color};
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--primary-color);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  width: 80%;
  min-width: 50rem;
  max-width: 110rem;
  margin: auto;
}

.concertina {
  margin-top: 5rem;
  height: 50vh;
  max-height: 80rem;
  min-height: 30rem;
  // overflow: hidden;
  position: relative;
  display: flex;
  border: 2px solid orange;

  & > div {
  }

  &__item {
    flex: 1 1 content;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  &__heading {
    border: 2px solid purple;
    z-index: 10;
    color: white;
    // width: 40vh;
    position: absolute;
    left: 100%;
    top: 100%;
    transform: rotate(-90deg);
    transform-origin: top left;
    // background-color: rgba($color: #000000, $alpha: 0.5);

    & > h2 {
      word-wrap: none;
      white-space: nowrap;
      font-size: 3rem;
      margin: 1rem 0;
      display: inline;
      // height: 3rem;
    }
  }

  &__image {
    overflow: hidden;
    width: 3rem;
  }

  &__item-1 {
    & > .concertina__image {
      width: calc(90rem - (3rem * 5));
    }
  }
}

// When I hover any item, I want earlier siblings to shrink while the hover target grows to 100%
// hover the parent > child items not(:hover) to shrink
