@import '_variables';

:root {
  --primary-color: #{$pri-color};
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--primary-color);
  height: 100vh;
  width: 100vw;
  line-height: 1.5;
  overflow: hidden;
}

.container {
  width: 80vw;
  min-width: 50rem;
  max-width: 110rem;
  margin: auto;
}

.concertina {
  --image-count: 7;
  --container-max-width: 80vw;
  --image-header-width: 4rem;
  margin-top: 5rem;
  height: clamp(30rem, 50vh, 60rem);
  max-height: 60rem;
  min-height: 30rem;
  width: 80vw;
  overflow: hidden;
  position: relative;
  display: flex;

  &__item-1 .concertina__image {
    width: calc(
      var(--container-max-width) -
        (var(--image-header-width) * (var(--image-count) - 1))
    );
  }

  &:hover .concertina__image {
    width: 5rem;
  }

  &__item {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;

    &:hover .concertina__image,
    &:focus .concertina__image {
      width: calc(
        var(--container-max-width) -
          (var(--image-header-width) * (var(--image-count) - 1))
      );
    }

    &:hover .concertina__content,
    &:hover .concertina__content {
      opacity: 1;
      transform: scale(1);
      transition: transform 0.2s linear 0.4s;
    }
  }

  &__heading {
    z-index: 2;
    color: white;
    position: absolute;
    left: 100%;
    bottom: 0;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    cursor: pointer;
    border-bottom: 3px solid black;
    width: clamp(30rem, 50vh, 60rem);

    & > h2 {
      word-wrap: none;
      white-space: nowrap;
      font-size: 3rem;
      margin: 1rem 0;
      margin-left: 3rem;
      display: inline;
    }
  }

  &__image {
    flex: 1 1 20%;
    width: var(--image-header-width);
    z-index: -1;
    transition: width 0.8s ease-in-out;
    position: relative;
    & > img {
      object-fit: cover;
      object-position: right top;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.8s ease-in, transform 0s linear 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    transform: scale(0);
    transform-origin: left;
    & > div {
      max-width: 50rem;
      margin-left: 2rem;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 1rem;
      color: #ccc;
    }

    & * {
      margin: 1rem 0;
      margin-left: 1rem;
    }
  }
}

// When I hover any item, I want earlier siblings to shrink while the hover target grows to 100%
// hover the parent > child items not(:hover) to shrink

//TODO: Make the width responsive to the page and container width.

//TODO: Add additional classes to use a clip path on the first 4 divs to produce an angle instead of straight 90deg
